/*-------------------------------------------------------------------------------------------*/
/* OptionsFramework Admin Styles */
/*-------------------------------------------------------------------------------------------*/

.updated {
	max-width:764px;
	margin-bottom:0px !important;
}
#optionsframework {
	position:relative;
	z-index: 0;
	max-width:780px;
}
#optionsframework p {
	margin-bottom:0;
	padding-bottom:10px;
}
#optionsframework .section {
	padding:10px 10px 0;
	background:#f9f9f9;
}
#optionsframework .group .section:last-of-type {
	padding-bottom:40px;
}
#optionsframework .section .heading {
	padding:10px 0px;
	margin:0 0 15px;
	border-bottom: 1px solid #e7e7e7;
}
#optionsframework .section .controls {
	float: left;
	width: 400px;
	margin: 0 15px 0 0;
}
#optionsframework .section .explain {
	float: left;
	width: 225px;
	padding: 0 10px 0 0;
	font-size: 12px;
	line-height:15px;
	color: #777;
}
#optionsframework .section-checkbox .controls {
	width:25px
}
#optionsframework .section-checkbox .explain {
	width:540px
}
#optionsframework .section-color .controls {
	width:125px
}
#optionsframework .section-color .explain {
	width:440px
}
#optionsframework .controls input, #optionsframework .controls select, #optionsframework .controls textarea {
	margin-bottom: 10px;
	width: 340px;
}
#optionsframework .controls select {
	width: 340px
}
#optionsframework.controls textarea {
	width: 345px;
}
#optionsframeworkinput[type=text] {
	width: 340px;
}
#optionsframework input.checkbox {
	width: 30px;
}
#optionsframework input.of-radio {
	width: 30px;
}
#optionsframework .controls .of-color {
	float:left;
	width: 80px;
	margin-left:5px;
}
#optionsframework .section-typography .controls {
	width:425px
}
#optionsframework .section-typography .explain {
	width:140px
}
#optionsframework .controls .of-typography-size {
	width:80px;
	float:left
}
#optionsframework .controls .of-typography-unit {
	width:50px;
	float:left
}
#optionsframework .controls .of-typography-face {
	width:100px;
	float:left
}
#optionsframework .controls .of-typography-style {
	width:80px;
	float:left
}
#optionsframework .section-background .controls {
	width:425px
}
#optionsframework .section-background .explain {
	width:140px
}
#optionsframework .of-background-properties {
	margin-top: 18px;	
}
#optionsframework .controls .of-background-repeat {
	width:160px;
	float:left
}
#optionsframework .controls .of-background-position {
	width:125px;
	float:left
}
#optionsframework .controls .of-background-attachment {
	width:125px;
	float:left
}
#optionsframework div.section-background .controls input.upload {
    width: 240px;
}
#optionsframework .controls .of-radio-img-img {
	border:3px solid #fff;
	margin:0 5px 10px 0;
	display:none;
	cursor:pointer;
	float:left;
}
#optionsframework .controls .of-radio-img-selected {
	border:3px solid #ccc
}
#optionsframework .controls .of-radio-img-img:hover {
	opacity:.8;
}
#optionsframework .controls .of-border-width {
	width:80px;
	float:left
}
#optionsframework .controls .of-border-style {
	width:120px;
	float:left
}
#optionsframework .hide {
	display:none;
}
#optionsframework .of-option-image {
	max-width:340px;
	margin:3px 0 18px 0;
}
#optionsframework .mini .controls select, #optionsframework .section .mini .controls {
	width: 70px;
}
#optionsframework .mini .controls input, #optionsframework .mini .controls {
	width: 70px;
}
#optionsframework .mini .explain {
	width:500px;
}

/* Image Uploader */

#optionsframework .controls input.upload {
	width:300px;
}
#optionsframework .controls input.upload_button {
	float:right;
	width:45px;
	border-color:#BBBBBB;
	cursor:pointer;
	height:16px;
}
#optionsframework .controls input.upload_button:hover {
	border-color:#666666;
	color:#000;
}
#optionsframework .screenshot {
	float:left;
	margin-left:1px;
	position:relative;
	width:344px;
	margin-top:3px;
}
#optionsframework .screenshot img {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-border-radius:4px;
	background:#FAFAFA;
	border-color:#ccc #eee #eee #ccc;
	border-style:solid;
	border-width:1px;
	float:left;
	max-width:334px;
	padding:4px;
}
#optionsframework .screenshot .mlu_remove {
	background:url("../images/ico-delete.png") no-repeat;
	border:medium none;
	bottom:-4px;
	display:block;
	float:left;
	height:16px;
	padding:0;
	position:absolute;
	left:-4px;
	text-indent:-9999px;
	width:16px;
}
#optionsframework .screenshot .no_image .file_link {
	margin-left: 20px;
}
#optionsframework .screenshot .no_image .mlu_remove {
	bottom: 0px;
}
#optionsframework .reset-button {
	float:left;
	cursor:pointer;
}

/* Bottom Section */

#optionsframework-submit {
	padding: 7px 10px;
	border-top: 1px solid #ECECEC;
	background-color: #F1F1F1;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
}
#optionsframework .button-primary {
	float:right;
}